argcomplete==3.2.2
click==8.1.7
GitPython==3.1.41
mypy==1.8.0
numpy==1.26.3
pandas==2.2.0
Pillow==10.2.0
pip-tools==7.3.0
protobuf==4.25.2
pyarrow==15.0.0
pyautogui==0.9.54
pynvim==0.5.0
pytest==8.0.0
requests==2.31.0
