click==8.3.3
GitPython==3.1.47
mypy==1.20.2
numpy==2.4.4
pandas==3.0.2
pandas-stubs==3.0.0.260204
pip-tools==7.5.3
protobuf==7.34.1
pyautogui==0.9.54
pydantic==2.13.3
pylatexenc==2.10
pynvim==0.6.0
pyperclip==1.11.0
pytest==9.0.3
PyYAML==6.0.3
requests==2.33.1
sqlmodel==0.0.38
tabulate==0.10.0
