click==8.3.0
GitPython==3.1.45
mypy==1.18.2
numpy==2.3.4
pandas==2.3.3
pandas-stubs==2.3.2.250926
pip-tools==7.5.1
protobuf==6.33.0
pyautogui==0.9.54
pydantic==2.12.3
pylatexenc==2.10
pynvim==0.6.0
pyperclip==1.11.0
pytest==8.4.2
requests==2.32.5
tabulate==0.9.0
