click==8.3.1
GitPython==3.1.46
mypy==1.20.0
numpy==2.4.4
pandas==3.0.2
pandas-stubs==2.3.3.251201
pip-tools==7.5.3
protobuf==7.34.1
pyautogui==0.9.54
pydantic==2.12.5
pylatexenc==2.10
pynvim==0.6.0
pyperclip==1.11.0
pytest==9.0.2
PyYAML==6.0.3
requests==2.33.1
sqlmodel==0.0.37
tabulate==0.10.0
